
@import 'login';

@import 'signup';

@import 'dashboard';

@import 'freehand';

@import url('https://fonts.google.com/specimen/Rubik?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
